<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
there we are!!!!

<img src="/images/gtvglogo.png" th:attr="src=@{|/images/${session.ciao}|}" />

<form action="#" th:action="@{/login}" method="post">

<input type="text" name="uname"/>
<input type="password" name="pwd"/>
<input type="submit" name="login"/>

</form> 

<div th:text="${session.username}">qui</div>


    <span th:if="${session.username == 'bobaman_93'}">Admin</span>


<a th:text=${session.ciao}>hey</a>
<a href="#" th:href="@{|/${session.ciao}|}">click</a>
</body>
</html>
